
bin/Debug/netcoreapp3.1/DiscordTagger.dll
bin/Debug/netcoreapp3.1/DiscordTagger.pdb
bin/Debug/netcoreapp3.1/DiscordTagger.dll
obj/Debug/netcoreapp3.1/DiscordTagger.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/DiscordTagger.dll
obj/Debug/netcoreapp3.1/DiscordTagger.pdb
